@import "./../styles.scss";

.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;
}

.menu {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-left: 0;
  > li {
    @include dFlex($jc: flex-start);
    gap: 16px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
    &:focus {
      outline: none;
    }
  }
}

.logo-container {
  padding: 16px;
  @include dFlex();
}

.line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.09);
}

.router-container {
  padding-left: 56px;
  padding-top: 16px;
}
