<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container"><p>LOGO</p></div>
    <div class="line"></div>
    <ul class="menu">
      <li routerLink="dashboard">
        <mat-icon fontIcon="dashboard"></mat-icon> Dashboard
      </li>
      <li routerLink="user">
        <mat-icon fontIcon="account_circle"></mat-icon> User
      </li>
    </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon fontIcon="menu" (click)="drawer.toggle()" class="menu-icon"
          >open menu</mat-icon
        >
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
